:host{
    margin-top: 16px;
}
.noPosts{
    text-align: center;
}
mat-expansion-panel{
    max-width: 800px;
    margin: auto;
}
mat-spinner{
    margin: auto;
}
.postImage{
    width: 100%;
}
.postImage img{
    width: 100%;
    border-radius: 5px;
}
