<mat-card>
    <form (submit)="onSavePost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input
                    [ngModel]="post.title"
                    matInput
                    type="text"
                    name="title"
                    required
                    placeholder="Post Title"
                    #title="ngModel">
            <mat-error *ngIf="title.invalid">
                Please enter a post title.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea
                    [ngModel]="post.content"
                    matInput
                    rows="6"
                    name="content"
                    required
                    placeholder="Post Content"
                    #content="ngModel">
            </textarea>
            <mat-error *ngIf="content.invalid">
                Please enter a post content.
            </mat-error>
        </mat-form-field>
        <button type="submit" color="accent" mat-raised-button>Save post</button>
    </form>
</mat-card>
