mat-form-field, textarea{
    width: 100%;
}
mat-card{
    max-width: 800px;
    margin: auto;
}
mat-spinner{
    margin: auto;
}
input[type=file]{
    visibility: hidden;
}
.imagePreview{
    margin: 5px;
    height: 90px;
    width: 160px
}
.imagePreview img{
    width: 98%;
    height: 98%;
}
